
h1{
	font-family: 'Space Mono', monospace;
	color: #DAA520;
	font-weight: bold;
	vertical-align: bottom;
	
	

}
body{
	font-family: 'Space Mono', monospace;
	color: #ffffff;
	background-image: url(../images/spaceback.jpg);
	background-size: cover;
}

section{
	background-color: #000000;
	border-style: groove;
	border-width: 5px;
	border-color: #DAA520
}


#header{
	background-color: #000000;

}

.icon{
	height: 50px;
	width:50px;
}



